In [1]:
import xarray as xr
import pandas as pd

# Buka file NetCDF
ds = xr.open_dataset('de8115ee5d5190ad7f6e4978b96cc467.nc')

# Filter untuk wilayah Indonesia
indonesia = ds.sel(latitude=slice(-11, 6), longitude=slice(95, 141))

# Konversi ke DataFrame
df = indonesia.to_dataframe()

# Simpan ke Excel
df.to_excel('data_ozon_indonesia.xlsx')

In [8]:
import csv
import openpyxl

def txt_to_csv(txt_file, csv_file, delimiter=','):
    # Membaca file .txt dan menulis ke file .csv
    with open(txt_file, 'r', encoding='utf-8') as infile, \
         open(csv_file, 'w', newline='', encoding='utf-8') as outfile:
        reader = csv.reader(infile, delimiter=delimiter)
        writer = csv.writer(outfile)
        for row in reader:
            writer.writerow(row)

def csv_to_excel(csv_file, excel_file):
    # Membaca file .csv dan menulis ke file Excel (.xlsx)
    wb = openpyxl.Workbook()
    ws = wb.active
    with open(csv_file, 'r', encoding='utf-8') as infile:
        reader = csv.reader(infile)
        for row in reader:
            ws.append(row)
    wb.save(excel_file)

if __name__ == "__main__":
    txt_file = "L3_ozone_omi_20041001.txt"
    csv_file = "L3_ozone_omi_20041001.csv"
    excel_file = "L3_ozone_omi_20041001.xlsx"
    delimiter = ','  # Ganti jika pemisah di file .txt adalah tab (\t) atau spasi (' ')

    txt_to_csv(txt_file, csv_file, delimiter)
    csv_to_excel(csv_file, excel_file)
    print("Konversi selesai: data.txt -> data.csv -> data.xlsx")

Konversi selesai: data.txt -> data.csv -> data.xlsx

In [6]:
import xarray as xr
ds = xr.open_dataset('Indonesia_ozone.nc')
print(ds['tco3'].attrs)  # Cek 'units' dan 'long_name'

{'GRIB_paramId': 206, 'GRIB_dataType': 'an', 'GRIB_numberOfPoints': 12765, 'GRIB_typeOfLevel': 'surface', 'GRIB_stepUnits': 1, 'GRIB_stepType': 'avgua', 'GRIB_gridType': 'regular_ll', 'GRIB_uvRelativeToGrid': 0, 'GRIB_NV': 0, 'GRIB_Nx': 185, 'GRIB_Ny': 69, 'GRIB_cfName': 'atmosphere_mass_content_of_ozone', 'GRIB_cfVarName': 'tco3', 'GRIB_gridDefinitionDescription': 'Latitude/Longitude Grid', 'GRIB_iDirectionIncrementInDegrees': 0.25, 'GRIB_iScansNegatively': 0, 'GRIB_jDirectionIncrementInDegrees': 0.25, 'GRIB_jPointsAreConsecutive': 0, 'GRIB_jScansPositively': 0, 'GRIB_latitudeOfFirstGridPointInDegrees': 6.0, 'GRIB_latitudeOfLastGridPointInDegrees': -11.0, 'GRIB_longitudeOfFirstGridPointInDegrees': 95.0, 'GRIB_longitudeOfLastGridPointInDegrees': 141.0, 'GRIB_missingValue': 3.4028234663852886e+38, 'GRIB_name': 'Total column ozone', 'GRIB_shortName': 'tco3', 'GRIB_totalNumber': 0, 'GRIB_units': 'kg m**-2', 'long_name': 'Total column ozone', 'units': 'kg m**-2', 'standard_name': 'atmosphere_mass_content_of_ozone', 'GRIB_surface': 0.0}

In [7]:
import xarray as xr
ds = xr.open_dataset('Indonesia_ozone.nc')
ds['tco3_du'] = ds['tco3'] * 2241.15  # Konversi ke DU
print(ds['tco3_du'].mean().values)  # Harus ~240-280 DU

12.104268

In [8]:
print(ds['tco3'].mean().values)  # Harusnya ~0.107-0.125 kg/mÂ²

0.0054009156

In [1]:
import xarray as xr

# Baca file
data = xr.open_dataset('Total Column Ozone.nc')

# Cek daftar variabel
print(data.variables.keys())  # Pastikan ada variabel seperti 'tco3' atau 'ozone'

# Akses data TCO benar
tco_data = data['tco3']  # Ganti 'tco3' dengan nama variabel sebenarnya
print(tco_data.values)  # Nilai seharusnya 1.0â1.25 kg/mÂ² untuk tropis

# Simpan ke CSV jika perlu
tco_data.to_dataframe().to_csv('ozone_data.csv')

KeysView(Frozen({'number': <xarray.Variable ()> Size: 8B
[1 values with dtype=int64]
Attributes:
    long_name:      ensemble member numerical id
    units:          1
    standard_name:  realization, 'valid_time': <xarray.IndexVariable 'valid_time' (valid_time: 420)> Size: 3kB
array(['1987-01-01T00:00:00.000000000', '1987-02-01T00:00:00.000000000',
       '1987-03-01T00:00:00.000000000', ..., '2021-10-01T00:00:00.000000000',
       '2021-11-01T00:00:00.000000000', '2021-12-01T00:00:00.000000000'],
      dtype='datetime64[ns]')
Attributes:
    long_name:      time
    standard_name:  time, 'latitude': <xarray.IndexVariable 'latitude' (latitude: 9)> Size: 72B
array([-6.57, -6.82, -7.07, -7.32, -7.57, -7.82, -8.07, -8.32, -8.57])
Attributes:
    units:             degrees_north
    standard_name:     latitude
    long_name:         latitude
    stored_direction:  decreasing, 'longitude': <xarray.IndexVariable 'longitude' (longitude: 9)> Size: 72B
array([111.67, 111.92, 112.17, 112.42, 112.67, 112.92, 113.17, 113.42, 113.67])
Attributes:
    units:          degrees_east
    standard_name:  longitude
    long_name:      longitude, 'expver': <xarray.Variable (valid_time: 420)> Size: 7kB
[420 values with dtype=<U4], 'tco3': <xarray.Variable (valid_time: 420, latitude: 9, longitude: 9)> Size: 136kB
[34020 values with dtype=float32]
Attributes: (12/32)
    GRIB_paramId:                             206
    GRIB_dataType:                            an
    GRIB_numberOfPoints:                      81
    GRIB_typeOfLevel:                         surface
    GRIB_stepUnits:                           1
    GRIB_stepType:                            avgua
    ...                                       ...
    GRIB_totalNumber:                         0
    GRIB_units:                               kg m**-2
    long_name:                                Total column ozone
    units:                                    kg m**-2
    standard_name:                            atmosphere_mass_content_of_ozone
    GRIB_surface:                             0.0}))
[[[0.00515131 0.00515127 0.00515135 ... 0.00515112 0.00515025 0.00514906]
  [0.00515278 0.00515334 0.00515509 ... 0.00515587 0.00515495 0.00515468]
  [0.00515524 0.00515617 0.00515882 ... 0.00515948 0.00516009 0.00515984]
  ...
  [0.00516994 0.00517293 0.00516867 ... 0.00515191 0.00515324 0.00514751]
  [0.00518145 0.0051829  0.00518159 ... 0.00517499 0.00517726 0.00517281]
  [0.00519108 0.00519082 0.00518944 ... 0.00518851 0.00518852 0.00518637]]

 [[0.00501721 0.00501691 0.00501671 ... 0.00501453 0.00501389 0.00501333]
  [0.00501705 0.00501728 0.00501849 ... 0.00501676 0.00501605 0.00501577]
  [0.00501656 0.00501718 0.00501919 ... 0.00501739 0.0050179  0.00501761]
  ...
  [0.00501923 0.00502187 0.00501779 ... 0.00500274 0.00500423 0.00499954]
  [0.00503077 0.00503189 0.00503089 ... 0.00502482 0.0050267  0.00502237]
  [0.0050402  0.00504051 0.00503953 ... 0.00503871 0.00503857 0.00503635]]

 [[0.00513028 0.00512919 0.00512812 ... 0.00512335 0.00512202 0.00512083]
  [0.0051324  0.00513175 0.00513196 ... 0.00512737 0.00512594 0.00512507]
  [0.00513455 0.00513467 0.00513564 ... 0.0051307  0.00513062 0.00512981]
  ...
  [0.00514623 0.00514839 0.00514313 ... 0.00512976 0.00512991 0.00512452]
  [0.00516026 0.0051608  0.00515895 ... 0.00515238 0.00515314 0.0051481 ]
  [0.00517266 0.00517208 0.00517034 ... 0.00516692 0.00516568 0.00516251]]

 ...

 [[0.00563206 0.00563123 0.00563012 ... 0.00562812 0.00562823 0.00562867]
  [0.00563686 0.00563652 0.00563703 ... 0.00563531 0.00563531 0.00563593]
  [0.00564221 0.00564252 0.00564402 ... 0.00564198 0.00564341 0.00564407]
  ...
  [0.00566637 0.00567065 0.0056635  ... 0.00564797 0.0056492  0.00564317]
  [0.00568575 0.00568773 0.0056858  ... 0.00567994 0.00568188 0.00567621]
  [0.00570371 0.00570368 0.00570205 ... 0.00570153 0.00570037 0.00569715]]

 [[0.00552139 0.00552199 0.00552142 ... 0.00551824 0.00551818 0.00551842]
  [0.00552509 0.00552675 0.00552849 ... 0.00552672 0.00552668 0.00552775]
  [0.00552831 0.00553067 0.00553346 ... 0.00553327 0.00553554 0.00553671]
  ...
  [0.0055484  0.005555   0.00555053 ... 0.00554327 0.00554514 0.00554096]
  [0.00556503 0.00556948 0.00556938 ... 0.0055737  0.00557653 0.00557268]
  [0.00558039 0.00558341 0.00558391 ... 0.00559535 0.00559691 0.00559529]]

 [[0.00550767 0.00550765 0.00550817 ... 0.00550895 0.00550943 0.0055093 ]
  [0.00551087 0.00551134 0.00551312 ... 0.00551513 0.0055156  0.00551689]
  [0.00551427 0.00551507 0.0055176  ... 0.00551985 0.00552296 0.00552436]
  ...
  [0.0055355  0.00554109 0.00553782 ... 0.00553149 0.00553507 0.00553083]
  [0.005555   0.00555885 0.00555935 ... 0.00556439 0.00556913 0.00556657]
  [0.00557444 0.00557646 0.00557702 ... 0.00558502 0.0055872  0.00558748]]]

In [1]:
import pandas as pd

# Baca file Excel
df = pd.read_excel("Data Bulanan ERA5.xlsx")

# Ubah kolom Date ke format datetime
df['Date'] = pd.to_datetime(df['Date'])

# Tambahkan kolom jumlah hari dalam bulan
df['Days_in_Month'] = df['Date'].dt.days_in_month

# Hitung total curah hujan bulanan
df['Total_Precipitation'] = df['ERA5'] * df['Days_in_Month']

# Simpan ke file baru
df.to_excel("Total_Precipitation_ERA5.xlsx", index=False)