## Pemodelan prediksi Cool and Warm by Season menggunakan RNN

In [1]:
# Mengimport Pustaka yang dibutuhkan
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import itertools
import warnings
warnings.filterwarnings('ignore')

### Data Loading

In [2]:
df=pd.read_excel('Data c&w.xlsx')

In [3]:
df.tail()

    Year  DJF  JFM  FMA  MAM  AMJ  MJJ  JJA  JAS  ASO  SON  OND  NDJ
70  2020  0.5  0.5  0.4  0.2 -0.1 -0.3 -0.4 -0.6 -0.9 -1.2 -1.3 -1.2
71  2021 -1.0 -0.9 -0.8 -0.7 -0.5 -0.4 -0.4 -0.5 -0.7 -0.8 -1.0 -1.0
72  2022 -1.0 -0.9 -1.0 -1.1 -1.0 -0.9 -0.8 -0.9 -1.0 -1.0 -0.9 -0.8
73  2023 -0.7 -0.4 -0.1  0.2  0.5  0.8  1.1  1.3  1.6  1.8  1.9  2.0
74  2024  1.8  1.5  1.1  0.7  0.4  0.2  0.0 -0.1  NaN  NaN  NaN  NaN

### Data Cleaning

In [4]:
df.dropna(inplace=True)

In [5]:
df.tail()

    Year  DJF  JFM  FMA  MAM  AMJ  MJJ  JJA  JAS  ASO  SON  OND  NDJ
69  2019  0.7  0.7  0.7  0.7  0.5  0.5  0.3  0.1  0.2  0.3  0.5  0.5
70  2020  0.5  0.5  0.4  0.2 -0.1 -0.3 -0.4 -0.6 -0.9 -1.2 -1.3 -1.2
71  2021 -1.0 -0.9 -0.8 -0.7 -0.5 -0.4 -0.4 -0.5 -0.7 -0.8 -1.0 -1.0
72  2022 -1.0 -0.9 -1.0 -1.1 -1.0 -0.9 -0.8 -0.9 -1.0 -1.0 -0.9 -0.8
73  2023 -0.7 -0.4 -0.1  0.2  0.5  0.8  1.1  1.3  1.6  1.8  1.9  2.0

In [6]:
df.set_index('Year', inplace = True)

In [7]:
dates = pd.date_range(start = '1950-01', freq = 'MS', periods = len(df.columns)*12)
dates

DatetimeIndex(['1950-01-01', '1950-02-01', '1950-03-01', '1950-04-01',
               '1950-05-01', '1950-06-01', '1950-07-01', '1950-08-01',
               '1950-09-01', '1950-10-01',
               ...
               '1961-03-01', '1961-04-01', '1961-05-01', '1961-06-01',
               '1961-07-01', '1961-08-01', '1961-09-01', '1961-10-01',
               '1961-11-01', '1961-12-01'],
              dtype='datetime64[ns]', length=144, freq='MS')

In [9]:
df.head()

      DJF  JFM  FMA  MAM  AMJ  MJJ  JJA  JAS  ASO  SON  OND  NDJ
Year
1950 -1.5 -1.3 -1.2 -1.2 -1.1 -0.9 -0.5 -0.4 -0.4 -0.4 -0.6 -0.8
1951 -0.8 -0.5 -0.2  0.2  0.4  0.6  0.7  0.9  1.0  1.2  1.0  0.8
1952  0.5  0.4  0.3  0.3  0.2  0.0 -0.1  0.0  0.2  0.1  0.0  0.1
1953  0.4  0.6  0.6  0.7  0.8  0.8  0.7  0.7  0.8  0.8  0.8  0.8
1954  0.8  0.5  0.0 -0.4 -0.5 -0.5 -0.6 -0.8 -0.9 -0.8 -0.7 -0.7

In [10]:
scaler = MinMaxScaler(feature_range = (0,1))
scaled_data = scaler.fit_transform(df)
scaled_data.shape

(74, 12)

In [11]:
def create_dataset(data, time_steps=1):
    X, y = [], []
    for i in range(len(df) - time_steps):
        X.append(data[i:(i + time_steps), :])
        y.append(data[i + time_steps, :])  # Target adalah nilai di langkah berikutnya
    return np.array(X), np.array(y)

In [12]:
time_steps = 1
X, y = create_dataset(scaled_data, time_steps)

In [13]:
train_size = int(len(X) * 0.75)
X_train, X_test = X[:train_size], X[train_size:]
y_train, y_test = y[:train_size], y[train_size:]

In [8]:
import keras
from keras.models import Sequential
from keras.layers import Dense, SimpleRNN, Dropout
from attention import Attention

np.random.seed(100)

WARNING:tensorflow:From C:\Users\ACER\AppData\Roaming\Python\Python311\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

### Pendefinisian Model

In [14]:
model = Sequential()
model.add(SimpleRNN(50, activation='relu', input_shape=(X_train.shape[1], X_train.shape[2])))
model.add(Dense(y_train.shape[1]))

WARNING:tensorflow:From C:\Users\ACER\AppData\Roaming\Python\Python311\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [15]:
model.compile(optimizer='adam', loss='mean_squared_error')

WARNING:tensorflow:From C:\Users\ACER\AppData\Roaming\Python\Python311\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [16]:
train_score = model.evaluate(X_train, y_train, verbose=0)
test_score = model.evaluate(X_test, y_test, verbose=0)

print('Train Score: %.4f' % train_score)
print('Test Score: %.4f' % test_score)

WARNING:tensorflow:From C:\Users\ACER\AppData\Roaming\Python\Python311\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

Train Score: 0.4136
Test Score: 0.3512

In [17]:
y_pred=model.predict(X_test)

1/1 [==============================] - 0s 217ms/step

In [18]:
y_pred_inv = scaler.inverse_transform(y_pred)
print('Prediksi:', y_pred_inv)

Prediksi: [[-1.8264347  -2.70654    -1.1981453  -0.19689375 -0.75412    -2.7008483
  -1.4831238  -1.6030182  -2.2533722  -1.7567257  -4.6911736  -0.8339442 ]
 [-1.7349746  -3.0131881  -1.2002573  -0.32266882 -0.82144123 -2.8282013
  -0.76755357 -1.590911   -2.3020673  -1.5397929  -4.9640846  -1.3857635 ]
 [-1.9605622  -2.1533608  -1.2228131  -0.64517987 -0.8254246  -2.1953263
  -1.7257786  -1.6385332  -2.2014444  -1.8041013  -3.1573055  -1.1188873 ]
 [-1.7728939  -2.6991074  -1.185471   -0.6228045  -0.92047584 -2.398439
  -0.7773931  -1.3716569  -2.1456282  -1.4898937  -4.059308   -1.9639987 ]
 [-1.7772012  -1.9283042  -1.1188622  -0.9981558  -0.99648976 -1.6321237
  -1.6620936  -1.6757562  -2.0662816  -1.7936511  -2.3577557  -1.3817757 ]
 [-2.0546925  -2.2384825  -1.2132956  -0.56092197 -0.7813915  -2.3124146
  -1.793238   -1.7145455  -2.2789364  -1.8117745  -3.2735004  -0.9960774 ]
 [-1.3979931  -3.6009388  -1.2961994  -0.674069   -0.8118379  -2.972995
  -0.3161469  -1.2030122  -2.2836764  -1.117052   -5.157811   -2.4422085 ]
 [-1.8261952  -1.8872916  -1.18285    -0.82860434 -0.9746053  -1.7365265
  -1.4067436  -1.5035102  -1.8680006  -1.869134   -2.6243963  -1.5958894 ]
 [-1.8455544  -2.220385   -1.1205162  -0.5777835  -0.86924005 -2.106016
  -1.6782116  -1.6848309  -2.1595333  -1.8657229  -3.3619647  -0.9979762 ]
 [-1.7453841  -2.2631605  -1.240566   -0.64028585 -0.8757879  -2.1391678
  -1.3751118  -1.4052486  -1.9773016  -1.6596026  -3.6644626  -1.3956605 ]
 [-1.9285489  -2.3104858  -1.2562976  -0.4521988  -0.7806119  -2.3850288
  -1.4561568  -1.5596607  -2.2391276  -1.9321775  -3.6357408  -1.4082001 ]
 [-1.904854   -2.9503539  -1.1583707   0.16979015 -0.58841795 -3.2044258
  -1.9196733  -1.8775513  -2.6079879  -1.9671127  -5.3060718  -0.12014291]
 [-1.5559187  -3.8424666  -1.2530929  -0.13240989 -0.72193956 -3.663916
  -0.25694627 -1.3161876  -2.5530324  -1.1599034  -6.369152   -1.9018183 ]
 [-1.8513023  -2.795449   -1.2261105  -0.3481837  -0.8962967  -2.559175
  -0.9966397  -1.6130098  -2.1347415  -1.8956549  -4.352761   -1.3221958 ]
 [-2.0212038  -2.132241   -1.1839136  -0.7036018  -0.81825894 -2.12194
  -1.7309005  -1.6759704  -2.228383   -1.7798059  -3.0184574  -1.1711886 ]
 [-1.7453038  -3.0197585  -1.24448    -0.13200763 -0.7456275  -3.0062687
  -0.9879461  -1.5249918  -2.2708278  -1.7003169  -5.2830157  -1.3314193 ]
 [-1.6143385  -2.955049   -1.2944618  -0.4487129  -0.89503014 -2.6880364
  -0.6796081  -1.4052883  -2.085538   -1.4906526  -4.6756983  -1.627878  ]
 [-1.8932754  -2.0436954  -1.2038507  -0.76201916 -0.9741691  -1.873683
  -1.359402   -1.5049196  -1.941635   -1.864516   -2.8548894  -1.6059594 ]
 [-1.8657122  -1.8376582  -1.2763586  -1.022473   -1.0513017  -1.6467488
  -1.4048586  -1.3028148  -1.7637719  -1.659449   -2.4354484  -1.7575653 ]]

In [19]:
r2 = r2_score(y_test, y_pred)

print('R² Score: %.2f' % r2)

R² Score: -5.56